
  /* @media screen and (max-width: 850px) {
    .nav-contact > div {
        display: none;

    }
  } */

  /* @media screen and (max-width: 550px) {
    .container{
      width: 100%;
      display: block;
    }
    .nav-contact{
      position: absolute;
      display: none;
    }
  } */
 